@font-face {
    font-family: 'Sweden Sans';
    src: url('../font/swedensans-webfont.eot');
    src: url('../font/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/swedensans-webfont.woff2') format('woff2'),
         url('../font/swedensans-webfont.woff') format('woff'),
         url('../font/swedensans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweden Sans Bold';
    src: url('../font/swedensansbold-webfont.eot');
    src: url('../font/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/swedensansbold-webfont.woff2') format('woff2'),
         url('../font/swedensansbold-webfont.woff') format('woff'),
         url('../font/swedensansbold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body,
.site {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.site {
    font-family: 'Sweden Sans', 'Arial', sans-serif;

    background-color: #005293;
    color: #FECB00;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    ". content content ."
    "footer content content .";
    -webkit-font-smoothing: antialiased;
}

.content {
    grid-area: content;
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: row;
}

.contentColumn {
    flex: 1;
}

.contentColumn--image {
    margin: 1em 3em;
}

.contentColumn--image img {
    box-shadow: 0 0 4em #1A3050;
}

.contentColumn--text {
    text-shadow: 0.1em 0.1em 0.1em #1A3050;
}

.footer {
    grid-area: footer;
    align-self: end;
}

.links {
    display: flex;
    flex-direction: row;

}

.link {
    flex: 0;
    color: #FECB00;
    text-decoration: none;
    padding: 1em;
}

.link:hover {
    text-decoration: underline;
}

@media (pointer: coarse) {
    .site {
        grid-template-areas:
        ". content content ."
        "footer footer footer footer";

    }

    .content {
        flex-direction: column;
    }

    .contentColumn--image {
        margin: 0;
    }

    .contentColumn--image img {
        height: auto;
        width: 100%;
    }

    .contentColumn--text {
        padding: 0;
    }

    .footer {
        background-color: #FECB00;
        box-shadow: 0 0 2em #1A3050;
    }

    .link {
        color: #005293;
        flex: 1;
        text-align: center;
    }
}

