.title {
	background: #000;
	box-shadow: 0 1em 1em 0 rgba(0,0,0,0.25);
	color: #fff;
	font-size: 13px;
	left: 0;
	line-height: 1em;
	padding: 0.5em 1em;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	text-align: center;
	transform-origin: top center;
	transform: scale(1);
	transition-duration: 0.2s;
	transition-delay: 0.5s;
	transition-property: transform;
	width: 100%;
	z-index: 100;
}

.title.is-hidden {
	transform: scale(0);
	transition-delay: 0s;
}
