.card--user {
	background: #FFEB3B;
	color: #000000;
}

.card--user .card-head {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.card--user .card-foot {
	background: #FBC02D;
	color: #000000;
	font-size: 1em;
	line-height: 2em;
}

.card--user .card-foot.is-collapsed {
	display: none;
}

.user-mail {
	color: #000000;
	cursor: pointer;

	display: inline-block;
	font-size: 5em;
	font-weight: bold;
	line-height: 1.5em;

	position: relative;

	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	width: 100%;
	height: 100%;
}

.user-name {
	font-size: 3em;
	line-height: 1.5em;
}

.user-title {
	font-size: 1em;
	line-height: 3em;
}

.user-link {
	color: #000000;
	display: inline-block;
	height: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
